<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979594857193-evsks6mkfbefgr9mv8s7n28hagbuok04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979594857193-evsks6mkfbefgr9mv8s7n28hagbuok04</string>
	<key>API_KEY</key>
	<string>AIzaSyBlmgLKjyCZeY55HaCZlbTOxvQz3HZk9Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>979594857193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sagar.ColorGame</string>
	<key>PROJECT_ID</key>
	<string>long-stack-226702</string>
	<key>STORAGE_BUCKET</key>
	<string>long-stack-226702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979594857193:ios:10609f035c78c594223e78</string>
	<key>DATABASE_URL</key>
	<string>https://long-stack-226702.firebaseio.com</string>
</dict>
</plist>